<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{{!-- Enables HTML to be responsive --}}
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	{{!-- Call to Google Maps API library--}}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAMtfI23oH34cQVEbRhJ5pmRtR2rV_38_E"></script>
	{{!-- Google Map API query code --}}
	<script src="/assets/js/map.js"></script>
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
	<title>Test APP for Sports Book</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
</head>
<body>
	{{{body}}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="/assets/js/sports.js"></script>
	<script src="/assets/js/events.js"></script>
	<script src="/assets/js/message.js"></script>
  <script src="/assets/js/api-scrapper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

</body>
</html>