<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>mySports</title>
	</head>
	<body>

		<img src="/assets/img/10warriors.png" width="500px" id="Warriors">
		{{{ body }}}

		<footer class="">
		<div class="footerClass">
			<div class="container">
				</div>
	</footer>
	</body>
</html>
