<div class="container-fluid">
	<div class="content">
		<nav class="navbar navbar-light bg-light blue">
			<ul class="navbar-nav inline">
				{{#unless user}}
				<button class="navButton"><li><a class="navbar-brand" id="title" href="/auth/google">Login Google+</a></li></button>
				{{/unless}}
				{{#if user}}
				<button class="navButton"><li><a class="navbar-brand" id="title" href="/auth/logout">Logout</a></li></button>
				{{/if}}
				<button class="navButton"><li><a class="navbar-brand" id="title" href="/">Homepage</a></li></button>
				<button class="navButton"><li><a class="navbar-brand" id="title" href="/profile">ProfilePage</a></li></button>
				<button class="navButton"><li><a class="navbar-brand" id="title" href="/events">api/events</a></li></button>

			</ul>
		</nav>
		<br><br>
		<h1>Welcome To Your Home Page</h1>
	</div>
</div>