<div class="container-fluid">
	<div class="content">
		<nav class="navbar navbar-light bg-light blue">
			<ul class="navbar-nav inline">
				{{#unless user}}
				<button class="navButton"><li><a class="navbar-brand" id="title" href="/auth/google">Login Google+</a></li></button>
				{{/unless}}
				{{#if user}}
				<button class="navButton"><li><a class="navbar-brand" id="title" href="/auth/logout">Logout</a></li></button>
				{{/if}}
				<button class="navButton"><li><a class="navbar-brand" id="title" href="/">Homepage</a></li></button>
				<button class="navButton"><li><a class="navbar-brand" id="title" href="/profile">ProfilePage</a></li></button>
				<button class="navButton"><li><a class="navbar-brand" id="title" href="/events">Events</a></li></button>
			</ul>
		</nav>
		<div class="teamSchedule">
			<div class="teamRecord"></div>
			<div class="upcomingGames"><</div>
		</div>
		<br><br>
		<h1>Welcome To Your Home Page</h1>
		{{!-- Sport Bar Locations --}}
		<div class="row">
			<div class="col-md-3">
				<div id="placeholder">
					(Add content here?)
				</div>
			</div>
			<div class="col-md-3">
				<div id="map"></div>
			</div>
			<div class="col-md-3" id="venues-container">
				<div id="venues">
					(Venue listings go here)
				</div>
			</div>
			<div class="col-md-3">
				<div id="placeholder">
					(Add content here?)
				</div>
			</div>
		</div>
	</div>
</div>