<div class="container-fluid">
	<div class="content">
		<nav class="navbar navbar-light bg-light blue">
			<ul class="navbar-nav inline">
				<button class="navButton"><li><a class="navbar-brand" id="title" href="/">Homepage</a></li></button>
			</ul>
		</nav>
		<br><br> 
		<h1>This is the Login Page</h1>
		<br><br>
		<button type="button" class="btn btn-primary btn-lg" id="GoogleButton"><a class="navbar-brand" id="title" href="/auth/google">Google+</a></button>
	</div>
</div>