
<div class="loginContent">
	<div class="container-fluid">
			<br><br> 
			<h1 id="loginTitle">MY &nbsp;&nbsp;SPORTS &nbsp;LOGIN</h1>
			<br><br>
			<button type="button" class="btn btn-primary btn-lg" id="GoogleButton"><span><img src="https://cdn3.iconfinder.com/data/icons/follow-me/256/google-plus-256.png"></span><a class="navbar-brand" href="/auth/google">Google+</a></button>
		</div>
	</div>
</div>