<div class="container-fluid">
  <form>
    <div class="form-group">
      <label for="fan-name">Name</label>
      <input type="text" class="form-control" id="fan-name" placeholder="Enter Full Name">
    </div>
    <div class="form-group">
      <label for="fan-email">Email address</label>
      <input type="email" class="form-control" id="fan-email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="fan-city">City</label>
      <input type="text" class="form-control" id="fan-city" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="fan-team">Select Favorite Team</label>
      <input type="text" class="form-control" id="fan-team" placeholder="Team">
    </div>
    <p id="googleID" data-googleID="{{dataValues.googleID}}"></p>
    <button type="submit" class="btn btn-primary" id="sign-up-button">Submit</button>
  </form>
</div>
