.navbar{
	background-color: #333
}
.inline{
	display: inline;
}

.navButton{
	color:#fff
}

#title {
	width: 100%;
	color: white;
}

#GoogleButton{
	background-color: blue;
	color: white;
	margin-left: 45%;
}

h1{
	text-align: center;
}

.google{
	background-color: blue;
	color: white;
}



/*  Events ==============  */
.event, .module{
	margin-bottom:20px;
	padding:10px;	
}

  
/* Map ==================  */ 

#map {
    height: 200px;
    width: 400px;
	margin: auto;
}

#venues, #placeholder {
	margin: 150px 50px 50px 100px;

}

/*  Team Schedule =======================  */
.teamSchedule{
	height:80px;
	background-color: #eee
}

.message{
	font-size:13px;
	padding:5px;
	background-color: #eee
}

.calendar-icon{
	background-image: url('/public/assets/images/calendar-plus.svg');
}