
html, body {
    height: 100%;
}

#loginTitle{
	color: white;
	font-family: 'Berkshire Swash', cursive;
}


#GoogleButton{
	background-color: #B0483B;
	color: white;
	margin-left: 44%;
	border: 1px solid white;
	width: 150px;
	padding-left: 10px;
}


#GoogleButton img{
	padding-right: 5px;
	width: 40%;
	margin-right: 0;
}


.loginContent {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    background-image: url("http://www.kinyu-z.net/data/wallpapers/236/1531673.jpg");
}

/*.loginContent{
	width: 100%;
	background-image: url("http://www.kinyu-z.net/data/wallpapers/236/1531673.jpg");
}*/

#GoogleButton a{
	color: white;
}


.navbar{
	background-color: #333
}
.inline{
	display: inline;
}

.navButton{
	color:#fff
}

#title {
	width: 100%;
	color: white;
}

h1{
	text-align: center;
}

.google{
	background-color: blue;
	color: white;
}

/* Team Banner  ================ */
.teamBanner img{
	width:150px;
	height:150px;
	margin-left:40px
}



/*  Events ==============  */
.event, .module{
	margin-bottom:20px;
	padding:10px;	
	
}

.module{
	height: 300px;
    overflow: scroll;
}

/* Map ==================  */ 
#card-venues {
	height: 400px;
	width: 300px;
}

#map {
    height: 400px;
    width: 500px;
	margin: auto;
}

#venues, #placeholder {
	margin: 5px 0px 0px 5px;
}

.loc{
	color:#666;
}

.rating{
	border-bottom: 1px solid #eee;
    display: block;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

/*  Team Schedule =======================  */
.teamSchedule{
	height:80px;
	background-color: #eee;
	margin-bottom:20px;
	padding:10px;
}

#input_message{
	margin-bottom:10px;
}

.message{
	font-size:13px;
	padding:5px;
	background-color: #eee;
	border-radius: 6px;
}

.calendar-icon{
	/* background-image: url('/public/assets/images/calendar-plus.svg'); */
}

/* Twitter Messages =====================  */

#twitterMessages p{
	font-size:13px;

}

.loginContent{
	width: 100%;
	background-image: url("http://www.kinyu-z.net/data/wallpapers/236/1531673.jpg");
}

.signup-card{
	width:350px;
	margin:0 auto;
	padding:20px;
	-webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    3px 3px 5px 6px rgba(0, 0, 0, 0.4);   /* Firefox 3.5 - 3.6 */
  	box-shadow:         3px 3px 5px 6px rgba(0, 0, 0, 0.4); 
}

.signup-page{
	background-image: url('../images/Basketball.png');
	padding-top:50px;
	height:800px;
}