.hawks .logo{
    background-image: url('');
}
.hawks .teamSchedule{
    background-image: url('');
    border-bottom: 5px solid
}

.celtics{

}
.nets{

}
.hornets{

}
.bulls{

}
.cavs{

}
.mavs{

}
.nuggets{

}
.pistons{

}
.warriors{

}
.rockets{

}
.pacers{

}
.clippers{

}
.lakers{

}
.grizzlies{

}
.heat{

}
.bucks{

}
.timberwolves{

}
.pelicans{

}
.knicks{

}
.thunder{

}
.magic{

}
.sixers{

}
.suns{

}
.blazers{

}
.kings{

}
.spurs{

}
.raptors{

}
.jazz{

}
.wizzards{

}